docs/n8n-workflows/lead-to-voice-call.json
{
  "name": "Epic AI - Lead to Voice Call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EPIC_AI_API_URL }}/api/voice/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "leadId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "agentId",
              "value": "={{ $env.DEFAULT_VOICE_AGENT_ID }}"
            },
            {
              "name": "callType",
              "value": "outbound"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-call",
      "name": "Trigger Voice Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EPIC_AI_API_URL }}/api/leads/{{ $json.id }}/activities",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "note"
            },
            {
              "name": "content",
              "value": "Voice call triggered automatically - no phone number available"
            }
          ]
        },
        "options": {}
      },
      "id": "log-no-phone",
      "name": "Log No Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "call_scheduled"
            }
          ]
        },
        "options": {}
      },
      "id": "set-result",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Trigger Voice Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Voice Call": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["epic-ai", "leads", "voice"]
}
